@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body{
    background: #1a0321;
    font-family: 'Bungee', cursive;
    margin: 0;
    color:cornsilk;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    min-height: 160px;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    margin-right: 10px;
    word-spacing: 6px;
}
header a{
    width: 80px;
    height: 80px;
    align-items: center;
    color:gold;
    font-weight: 600;
    padding-right: 20px;
}
header a :hover{
    color:red;
}
header a img{
    width: 80px;
    height: 80px;
}
nav :hover{
    color:red;
}
.logo{
    display: flex;
    padding: 15px;
    align-items: center;
    text-decoration: none;
    color:gold;
}
@media (max-width:700px) 
{
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.ensayo{
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-family:'Bungee', cursive;
}
.ensayo:hover{
    background-color: aquamarine;
}
footer{
    background-color: wheat;
    height: 200px;  
}
.info{
    color: black;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    font-size: 10px;
}
.facebook{
    width: 70px;
    height: 70px;
}
